html, body {
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: lightgray;
}
body {
  overflow: auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}


#root {
  display: flex;
  justify-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

label{
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 30px;
}

.redirect{
  color: brown;
  text-decoration: none;
  font-size: 12px;
}


.redirect:hover{
  text-decoration: underline;
}

.game-list {
  display: flex;
  justify-content: right;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-display-container {
  margin: 30px;
  display: flex;
  background-color: black;
  border: solid;
  color: brown;
  border-color: brown;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 250px;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: 2px 2px brown;
}

.gameContainerLink {
  text-decoration: none;
}

#game-title {
  text-align: center;
}

.game-display-container:hover {
  box-shadow: none;
  color: yellow;
}

.game-list-images {
  height: 150px;
  width: 150px;
}

.show-info {
  display: flex;
  color: brown;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

#home-button {
  color: brown;
  background-color: black;
  border: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: brown;
}

footer {
  height: 10px;
  width: 100%;
  color: brown;
  background-color: black;
  position: absolute;
}

@media only screen and (max-width: 1820px) {
  .game-list {
    flex-direction: column;
    align-items: center;
  }



  .main {
    display: flex;
    flex-direction: row;
  }
}
