#home-container{
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: inherit;
}

#game-options{
  margin-top: 30px;
  width: 90%;
}


#new-game-button-container{
  width: 150px;
  height: 40px;
  margin-top: 20px;
}

#new-game-button{
    background-color: black;
    color: brown;
    width: inherit;
    height: inherit;
    border: none;
    border-radius: 30px;
  }    

#new-game-button:hover{
  cursor: pointer;
  transition: 1s;
  color: orange;
}